---
layout: 
title:  

---

/* -----------------------------------------
   Equitable Webseite Design - copyright Judith Moosburner 2013
----------------------------------------- */


/* Override some defaults */
{% include JB/setup %}

html {
  background-color: #eee;
}

body { 
	background: #fff url({{ ASSET_PATH }}/images/background-repeat.png) repeat-y top center;
/*	background-size:100% ;*/
	font-family: "Oswald", "Lucida Grande", sans-serif;
	//color: #4D2E00;
	color:#71592E;
}

/* Die Teaserboxen */
.box {
	font-family: Tahoma, Verdana, sans-serif;
	line-height:1.3em;
	padding: 20px 30px;  
/*	background: #ffffff;*/
	background:rgba(255,255,255,0.8);
	
/*    opacity: .8;
    filter: alpha(opacity=80);
    -moz-opacity: .8;*/

  -webkit-border-radius: 5px 5px 5px 5px;
     -moz-border-radius: 5px 5px 5px 5px;
          border-radius: 5px 5px 5px 5px;
          

}



/* -----------------------------------------
   Text
----------------------------------------- */

h1 {
	font-family: 'Oswald Regular', "Oswald", "Lucida Grande", sans-serif;
	font-weight: 400;
	font-size: 30px;
	color: #654B13;

/*	font-weight: 100;
	text-shadow: 1px 2px 2px 
	rgba(0, 0, 0, 0.85);
	
	padding-left:10px;
	text-transform: none;
	
	H1: Oswald regular 30 */
}


h2 {
	font-family: 'Oswald Light',  "Oswald", "Lucida Grande", sans-serif;
	font-weight: 300;
	font-size: 30px;
	color: #654B13;
	
}

h3{
	font-family: 'Oswald Light',  "Oswald", "Lucida Grande", sans-serif;
	font-weight: 300;
	font-size: 23px;
	color: #654B13;
	}



p {
	font-family: 'Tahoma', "Lucida Grande", sans-serif;
	font-size: 14px;
	color: #71592e;
	line-height: 1.2em; 
}

.start p {
	font-family: 'Oswald Light',  "Oswald", "Lucida Grande", sans-serif;
	font-weight: 300;
	font-size: 15px;
	color: #654B13;
	letter-spacing:0.02em;
	line-height:1.2em;
	text-shadow: 0 6 12px #ffffff;
	/* 15px ist schwierig, weil es das blur ist, d.h. man sieht es nicht mehr 
	--- das macht nix, es wird ja trotzdem schon weiß dahinter und man kann den text besser lesen.. */
}


.breadcrumps {
	font-family: 'Tahoma', "Lucida Grande", sans-serif;
	font-size: 12px;
	color:  #816C40;
}


/*
a { color: #F18224; text-decoration: none; line-height: inherit; }
*/

a {
	color: #816C40;
	font-weight:bold;
	text-decoration: none; 
	line-height: inherit;
	}

a:hover {  text-decoration: underline; }

/* #DF7921
color: #FF8300; 
*/


/* -----------------------------------------
   Elements
----------------------------------------- */


hr {
	border: 1px #cccccc;
	margin:10px 0;
}


/* -----------------------------------------
   Navigation
----------------------------------------- */


/*Die Navi-Box:*/ 
.nav-box {
/*#654B13, alpha 75%, runde Ecken: 3px*/
	
	/*padding: 20px 20px;  */

	background:rgba(101,75,19,0);
	
/*    opacity: .8;
    filter: alpha(opacity=80);
    -moz-opacity: .8;*/

  -webkit-border-radius: 3px 3px 3px 3px;
     -moz-border-radius: 3px 3px 3px 3px;
          border-radius: 3px 3px 3px 3px;
	
}

.sub-nav {
	display: none;
}

.sub-nav ul {

}

.sub-nav ul li {
	font-family: 'Oswald Light',  "Oswald", "Lucida Grande", sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: white;
	text-transform: none;
	float: none;
	margin: 0px 10px 0px 0px;
/*	width:100px;*/
	overflow: hidden;
}

nav h1 {
	margin: -15px 22px 0px 0px;
	line-height:1.2em;
}

/* -----------------------------------------
   Header
----------------------------------------- */

.logo {max-width: 180px; margin-bottom: -50px; margin-left: -18px;}

header { 

	padding-bottom: 645px; padding-top: 30px; margin-bottom:-620px;
  /* background: url({{ ASSET_PATH }}/images/cut3.png) repeat-x ;*/
/*  background: url({{ ASSET_PATH }}/images/background_falling.png) no-repeat;
  background-position:80% 0%;*/
  margin-left:20px; margin-right:20px;

  min-height:150px;
}

header nav { 
/*		display:none;*/
	margin-top: -36px; margin-bottom:-6px; margin-right:0px;



 }

header nav ul {  text-transform: uppercase; margin: 0px; padding: 0; float: right; overflow: hidden; }
header nav ul li { margin: 10px 10px 10px 10px; padding: 0; display: block; float: left; position: relative; }
header nav ul li:after { content: ""; display: block; width: 4px; height: 4px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;  position: absolute; top: 6px; right: -17px; }

header nav ul li a { 
	font-family: 'Oswald Regular', "Oswald", "Lucida Grande", sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: white;
 }
 
header nav ul li a:active { color:white; }
header nav ul li a:hover {  color:white; }

header nav ul li a > span {  margin-right: 0px; }
header nav #activeSprite { position: absolute; width: 21px; height: 12px; background: url({{ ASSET_PATH }}/images/icons/active-nav.png) 0 0 no-repeat; display: block; }

header nav ul.show-on-mobile { display:none }

header nav ul li img {  max-height: 16px; margin-right:15px; margin-bottom:-1px;}


.row-fluid{margin-bottom:15px;}

/* -----------------------------------------
   Footer
----------------------------------------- */

footer { 
	 background-color: #654B13;

	 margin-top:-1000px;
	 height:220px;
	padding-top: 1100px;

/*	background: url({{ ASSET_PATH }}/images/background_footer-icons.png) 52% 90% repeat-x ; */
	background: #fff url({{ ASSET_PATH }}/images/background.png) no-repeat top center;

}
	
footer p {
		color:#ccccccc;
}

footer p strong {
		color:#cccccc;
}
	
footer .row { 
/*		display:none;*/
	margin-top: 20px; padding-top: 20px; padding-bottom: 20px;  margin-bottom: 50px; border-bottom: 0px solid #ddd; }

footer h3 {
	color:#cccccc;

	font-size: 14px;
	font-weight: 600;
/*	font-weight: bold */
	text-transform: uppercase;
}

footer a, footer p {
	color:#cccccc;
}

.clear{clear:both; margin-bottom:10px;}

