---
layout: page
folder: aktuelles
---

{% include JB/setup %}




<div class="row">
	<div class="col-md-8">
	</div>
</div>


<!-- this is only for aktuelles -->
<!-- Platzieren Sie diese Render-Anweisung an einer geeigneten Stelle. -->


<div class="row">
	<div class="col-md-8">



{{ content }}

	</div>

	<div class="col-md-4">
		<div class="box">




			<p>Hier haben wir alles Aktuelle</p>




			<hr />

			<ul>
			{% for more in site.categories[page.folder] offset:1 %}
				<li style="color:#333;"><h6>{{ more.date | date_to_string }}</h6><a href="{{ BASE_PATH }}{{more.url}}"><small>{{more.title}}</small></a></li>
			{% endfor %}
			</ul>


	

		</div>	



	</div>			
</div>