<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Equi-Table  &#10031; {{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
	<meta http-equiv="Keywords" content="equi-table, equitable, fairtrade, meals, nachhaltig, welternährung, genuss"/>
    <meta name="author" content="{{ site.author.name }}">
	<meta property="fb:admins" content="142562152455828" />
	


    <!-- Enable responsive viewport -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
	<!-- do not allow zomming -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ ASSET_PATH }}/assets/js/html5shiv.js"></script>
      <script src="{{ ASSET_PATH }}/assets/js/respond.min.js"></script>
    <![endif]-->

	<!-- Google-Font File-->
	<link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<!-- Optional theme -->
	<link rel="stylesheet" href="{{ ASSET_PATH }}/assets/bootstrap/css/bootstrap-theme.min.css">
	
    <link href="{{ BASE_PATH }}/style.css?body=1" rel="stylesheet" type="text/css" media="all">
	


    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

  </head>

  <body onMouseOut="var elems = document.getElementsByClassName('sub-nav');
for(var i = 0; i < elems.length; i++) { elems[i].style.display = 'none';};var elems = document.getElementsByClassName('nav-box');
for(var i = 0; i < elems.length; i++) { elems[i].style.background = 'rgba(82,66,32,0)';};var elems = document.getElementsByClassName('change-color');
for(var i = 0; i < elems.length; i++) { elems[i].style.color = '#524220'; }">
	  
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{ ASSET_PATH }}/assets/js/jquery.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="{{ ASSET_PATH }}/assets/bootstrap/js/bootstrap.min.js"></script>

	  
	  
	  
	  
<div class="container top-space">
	<div class="row">
		<div class="col-md-12">
			<div class="box">

  	<!-- Header Content -->
  	<header>

			<!-- Box -->
  			<div class="row">
  				<div class="col-md-3">
					
  					<a href="http://www.equi-table.ch"  ><img class="img-responsive" class="logo" src="{{ ASSET_PATH }}/assets/images/logo-equitable-gelb.png" /></a>
  				</div>
  				<div class="col-md-8">
  				<br><br>
  				</div>
  			</div>

  			<div class="row">
  				<div class="col-md-8 col-md-offset-4">
					<div class="hidden-xs" style="margin-top:-70px"><br /></div>
  					<nav class="hidden-xs" onmouseover="var elems = document.getElementsByClassName('sub-nav');
for(var i = 0; i < elems.length; i++) { elems[i].style.display = 'block'; };var elems = document.getElementsByClassName('nav-box');
for(var i = 0; i < elems.length; i++) { elems[i].style.background = 'rgba(82,66,32,0.8)';};var elems = document.getElementsByClassName('change-color');
for(var i = 0; i < elems.length; i++) { elems[i].style.color = '#ffffff';   }">
						
  						<ul class="nav-box">
  							<li style="width: 100px;"><h1><a class="change-color" href="{% for item in site.categories['restaurant'] limit:1 %}{{ BASE_PATH }}{{item.url}}{% endfor %}">Restaurant</a></h1>
								<div class="sub-nav">
									<ul>
										{% for item in site.categories['restaurant'] limit:8 %}
											<a href="{{ BASE_PATH }}{{item.url}}"><li>{{item.title}}</li></a>
										{% endfor %}
										
										<!-- <li>Unsere Küche</li>
										<li>Unser Team</li>
										<li>Karte</li>
										<li>Gründer und Partner</li> -->
									</ul>
								</div>
							
							</li>
  							<li style="width: 80px;"><h1><a class="change-color"  href="{% for item in site.categories['aktuelles'] limit:1 %}{{ BASE_PATH }}{{item.url}}{% endfor %}">Aktuelles</a></h1>
								<div class="sub-nav">
									<ul>
										{% for item in site.categories['aktuelles'] limit:8 %}
											<a href="{{ BASE_PATH }}{{item.url}}"><li>{{item.title}}</li></a>
										{% endfor %}
										
										<!-- <li>News & Aktuelles</li>
										<li>Presse</li>
										<li>Gallerie</li> -->
									</ul>
								</div>
							
							
							</li>
  							<li style="width: 98px;"><h1><a  class="change-color" href="{% for item in site.categories['reservierung'] limit:1 %}{{ BASE_PATH }}{{item.url}}{% endfor %}">Reservierung</a></h1>
								<div class="sub-nav">
									<ul>
										{% for item in site.categories['reservierung'] limit:8 %}
											<a href="{{ BASE_PATH }}{{item.url}}"><li>{{item.title}}</li></a>
										{% endfor %}
										<!-- <li>Online Reservierung</li>
										<li>Anlässe, Gruppen</li> -->
									</ul>
								</div>
							
							
							</li>
  							<li style="width: 80px;"><h1><a class="change-color"  href="{% for item in site.categories['kontakt'] limit:1 %}{{ BASE_PATH }}{{item.url}}{% endfor %}">Kontakt</a></h1>
								<div class="sub-nav">
									<ul>
										{% for item in site.categories['kontakt'] limit:8 %}
											<a href="{{ BASE_PATH }}{{item.url}}"><li>{{item.title}}</li></a>
										{% endfor %}
										<!-- <li>Anfahrt</li>
										<li>Impressum</li> -->
									</ul>
								</div>
							
							
							</li>
  						</ul>
  					</nav>
					
  				</div>
  			</div>

  	
  	</header>






  	<!-- Page Content -->
  		<!-- container -->
  		<div class="container">
 

 			<div class="row">
				<div class="col-md-12">
  			  	  {{ content }}
				</div>
			</div>



  			
  		</div><!-- container -->
		
</div></div><!-- Box --></div></div>
  


  	<!-- Footer Content -->
  	<footer class="footer-style">
  		<!-- container -->
  		<div class="container">
			<div class="hidden-xs" style="height:20px"><br /></div>
  			<div class="row">
		       	<div class="col-md-4">
					<div class="row">
						<div class="col-md-1 col-md-offset-2">
				 			<img src="{{ ASSET_PATH }}/assets/images/icon_footer_location.png" />
						</div>
						<div class="col-md-8">
							<h3>Equi-Table im Sankt Meinrad</h3>
		         			<p>Stauffacherstrasse 163</br>8004 Zürich</p>
						</div>
					</div>
			 	</div>
		       	<div class="col-md-3">
					<div class="row">
						<div class="col-md-2">
				 			<img src="{{ ASSET_PATH }}/assets/images/icon_footer_contact.png" />
						</div>
						<div class="col-md-10">
							<h3>Kontakt</h3>
		         			<p>+41 (0)43 534 82 77</br><a href="mailto:info@equi-table.ch">info@equi-table.ch</a></p>
						</div>
					</div>
			 	</div>
				 
				  
	      	 	<div class="col-md-3">
					<div class="row">
						<div class="col-md-2">
							<img src="{{ ASSET_PATH }}/assets/images/icon_footer_openhours.png" />
						</div>
						<div class="col-md-10">
							<h3>Öffnungszeiten</h3>
	          	  			<p>Di - Sa:     18.30-24.00</p>
						</div>
					</div>
		  		</div>
				
	      	 	<div class="col-md-1 col-md-offset-1">
						<a href="https://www.facebook.com/SANKTMEINRAD"><img src="{{ ASSET_PATH }}/assets/images/icon-footer_facebook.png" style="float:right;margin-right:60px"/></a>
		  		</div>
				
				
				
				 
			  <!--   Website &copy; {{ site.time | date: '%Y' }} {{ site.author.name }} -->
  			</div>
  		</div>
  		<!-- container -->
  	</footer>


  
	  

	  


    {% include JB/analytics %}
  </body>
</html>
