<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Equitable  &#10031; {{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
	<meta http-equiv="Keywords" content="equitable, fairtrade, meals, nachhaltig, welternährung, genuss"/>
    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->


	<!-- Google-Font File-->
	<link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.2.2.2.min.css" rel="stylesheet">
    <link href="{{ BASE_PATH }}/style.css?body=1" rel="stylesheet" type="text/css" media="all">

    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

  </head>

  <body>
	  
	  
	  
	  
	  
	  
	  
	  
	  


  	<!-- Header Content -->
  	<header>
  		<div class="container">
  			<div class="row">
  				<div class="span3 offset1">
  					<a href="http://www.equi-table.ch" style="padding-left:20px"><img class="logo" src="{{ ASSET_PATH }}/images/logo-equitable-150px.png" /></a>
  				</div>
  				<div class="span8">
  				<br><br>
  				</div>
  			</div>

  			<div class="row">
  				<div class="span8 offset3">
  					<nav>
  						<ul class="nav-box">
  							<li><h1><a href="{{ BASE_PATH }}/about">Restaurant</a></h1>
								<div class="sub-nav">
									<ul>
										<li>Unsere Küche</li>
										<li>Unser Team</li>
										<li>Karte</li>
										<li>Gründer und Partner</li>
									</ul>
								</div>
							
							</li>
  							<li><h1><a  href="{{ BASE_PATH }}/news">Aktuelles</a></h1></li>
  							<li><h1><a  href="{{ BASE_PATH }}/table">Reservierung</a></h1></li>
  							<li><h1><a href="{{ BASE_PATH }}/contact">Kontakt</a></h1></li>
  						</ul>
  					</nav>
					
  				</div>
  			</div>

  		</div><!-- container -->
  	</header>






  	<!-- Page Content -->
  		<!-- container -->
  		<div class="container">
 

 			<div class="row">
				<div class="span10 offset1">
  			  	  {{ content }}
				</div>
			</div>



  			
  		</div><!-- container -->

  


  	<!-- Footer Content -->
  	<footer>
  		<!-- container -->
  		<div class="container">
  			<div class="row">
		       <div class="span6 offset1">
		          <p><strong>Equitable</strong> im Sankt Meinrad | Stauffacherstrasse 193 | 8004 Zürich | +41 (0)43 534 82 77</p>
			  </div>
	      	 <div class="span4">
	          	<p><strong>Di-Fr</strong>: 12.00 - 14.00, 18.30 - 24.00, <strong>Sa</strong> 18.30 - 24.00</p>
		  	</div>
			  <!--   Website &copy; {{ site.time | date: '%Y' }} {{ site.author.name }} -->


  			</div>
  		</div>
  		<!-- container -->
  	</footer>


  
	  
	<script src="{{ ASSET_PATH }}/js/jquery.js"></script>
	<script>
	$(document).ready(function () {
	   $("[rel=tooltip]").tooltip();
	 });

	</script>
	  


    {% include JB/analytics %}
  </body>
</html>
