<div class="row">
  <div class="col-md-12">
	  	<!-- <div class="page content-start "> -->
			
		{% if page.image contains 'png' %}	
		<div style="margin-left:-35px; margin-right:-35px;">
			<img class="img-responsive" src="{{ ASSET_PATH }}/assets/images/{{ page.image }}"  />
		</div>
		{% endif %}
		
		
		<div class="popout-small">

			<!-- <div class="breadcrumps">
	            <ul class="breadcrumb" style="background:none">
	                <li><a href="{{ BASE_PATH }}"><i class="icon-home"> </i>Home</a> </li>
	                {% assign crumbs = page.url | split: '/' %}
	                {% assign crumbstotal = crumbs | size %}
	                {% for crumb in crumbs offset:2 %}
	                    {% unless crumb == 'index.html' %}
	                        <li><span class="divider">&#187;</span> {{ crumb | remove: '.html' }} </li>
	                    {% endunless %}
	                {% endfor %}
	            </ul>
	            <script>$(".breadcrumb li").last().addClass('active');</script>
			</div> -->

			


			<div class="page-header">
			  <h1>{{ page.title }} {% if page.tagline %}</h1>{{ page.tagline }}{% endif %}
			</div>


			 {{ content }}
			
			
		</div><!-- page -->
  </div>
</div>
