

<div class="row post-full">
  <div class="col-md-12">
    <div class="date">
     
    </div>
	  <hr>
    <div class="content">
      {{ content }}
    </div>

    <hr>
    <!-- {% include JB/comments %} -->
  </div>
</div>



	  <div class="row">
	  	<div class="col-md-12">
			<br><br><br><br>
			
			<img class="img-responsive" style="margin:auto" src="{{ ASSET_PATH }}/assets/images/trenner700.png" />
	 	   <br>
	 	  <!-- <h1>Unsere Food Stories</h1> -->
	       <br>
	  
		</div>
	  </div>
	  



	 <div class="row">
		 
     {% for more in site.categories[page.folder] offset:0  %}

		<a href="{{ BASE_PATH }}{{ more.url }}/">
		<div class="col-md-4">
		  <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
		  	<div class="flipper">
		  		<div class="back">
		  			<!-- front content -->
					<img class="img-responsive" src="{{ ASSET_PATH }}/assets/images/galerie/{{ more.square }}" />
		  		</div>
		  		<div class="front">
		  			<!-- back content -->
				  <img class="img-responsive" src="{{ ASSET_PATH }}/assets/images/newTeaser00-textBG.png" style="position:absolute;top:0px;left:0px;z-index:-1;"/>
			  
				<div style="z-index:1;">
				  <h2>{{ more.title }}</h2>
				  <p>{{ more.tagline }}</p>
				</div>
			
		  		</div>
		  	</div>
		  </div>
		</div></a>
		
	 {% endfor %}
	 
	  </div>
		






