<div class="start"> 

<div class="row">
	<div class="col-md-12">
		<hr />
	</div>
</div>


<div class="row">
	<div class="col-md-12">
		<hr />
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<hr />
	</div>
</div>

	
	<div class="row">
	  	<div class="col-md-8 col-md-offset-2" style="text-align:center">
			<!-- <div class="box "> -->
			<!-- <div class="row">
			  	<div class="col-md-12" > -->
  			{{ content }}
				<!-- </div>
			</div> -->
			<!-- </div> -->
			
			{% if page.asset | size > 2 %}
			<a href="{{ ASSET_PATH }}/assets/images/presse/{{ page.asset }}">Artikel hier zum Download</a> 
			<object data="{{ ASSET_PATH }}/assets/images/presse/{{ page.asset }}" type="application/pdf" class="col-md-11" height=800>
	    		<embed src="{{ ASSET_PATH }}/assets/images/presse/{{ page.asset }}" type="application/pdf" />
			</object>
			{% endif %}
			
		</div>
	</div>
	

	<div class="row">
		<div class="col-md-12">
			<hr />
		</div>
	</div>
  

  <div class="row">
  	<div class="col-md-12">
	
		<img class="img-responsive" style="margin:auto" src="{{ ASSET_PATH }}/assets/images/trenner700.png" />

  
	</div>
  </div>
	
	<div class="row">
		<div class="col-md-12">
			<hr />
		</div>
	</div>
	
	<div class="row">

		{% assign categories_list = page.category %}
	
		{% if page.folder | size > 2 %}
				{% assign categories_list = page.folder %}
		{% endif %}

		

		{% for more in site.categories[categories_list] offset:0  %}
		<a href="{{ BASE_PATH }}{{ more.url }}/">
		<!-- <a href="{{ BASE_PATH }}/restaurant/unsere-kueche"> -->
		<div class="col-md-4">
		  <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
		  	<div class="flipper">
		  		<div class="front">
		  			<!-- front content -->
					<!-- <img class="img-responsive" src="{{ ASSET_PATH }}/assets/images/newTeaser04-kueche.png" /> -->
					{% assign square_image = 'no_square.png' %}
	
					{% if more.square | size > 2 %}
						{% assign square_image = more.square %}
					{% endif %}
					
					<img class="img-responsive" src="{{ ASSET_PATH }}/assets/images/galerie/{{ square_image }}" />
		  		</div>
		  		<div class="back teaser-text">
		  			<!-- back content -->
				  <img class="img-responsive" src="{{ ASSET_PATH }}/assets/images/newTeaser00-textBG.png" style="position:absolute;top:0px;left:0px;z-index:-1;"/>
				  
				<div style="z-index:1;">
				  <!-- <h2>Unsere Küche</h2>
				  <p>Geniessen mit gutem Gewissen – unsere Küche legt höchsten Wert auf  biologische, fair gehandelte und regionale Produkte und vegetarische, klimafreundliche Gerichte.</p> -->
					  <p>Datum: {{ more.date | date_to_string }}</p>
								  		<img class="img-responsive" style="margin:auto" src="{{ ASSET_PATH }}/assets/images/trenner700.png" />
					  <h2>{{ more.title }}</h2>
					  <p>{{ more.tagline }}</p>					

				</div>
				
		  		</div>
		  	</div>
		  </div>
		</div></a>
		{% endfor %}
		  
		
		
	  </div>
		
	</div>


</div>  



