<div class="start"> 
	
<!-- <div class="row">
  	<div class="col-md-12"> --><!-- <div class="box "> -->
	
		<div id="carousel-example-generic" class="carousel slide">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
		    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
		  </ol>

		  <!-- Wrapper for slides -->
		  <div class="carousel-inner">
		    <div class="item active">
		      <img class="img-responsive" src="{{ ASSET_PATH }}/assets/images/start_equitable_02food.jpg" alt="...">
		      <!--<div class="carousel-caption">
			      <h3>Herzlich Willkommen</h3>
			      <p>im Restaurant</p>
		      </div>-->
		    </div>
		    <div class="item ">
		      <img class="img-responsive" src="{{ ASSET_PATH }}/assets/images/equiTable-Teambild-Nov13.jpg" alt="...">
		    </div>
		    <div class="item ">
		      <img class="img-responsive" src="{{ ASSET_PATH }}/assets/images/start_equitable_03zutaten.jpg" alt="...">
	
		    </div>
		    
		  </div>
		  <!-- Wrapper for slides end-->

		  <!-- Controls -->
		  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
		    <span class="icon-prev"></span>
		  </a>
		  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
		    <span class="icon-next"></span>
		  </a>
		</div>
	
		<!-- </div> -->
	<!-- </div> --><!-- box -->
<!-- </div> -->

<div class="row">
	<div class="col-md-12">
		<hr />
	</div>
</div>


<div class="row">
	<div class="col-md-12">
		<hr />
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<hr />
	</div>
</div>

	
	<div class="row">
	  	<div class="col-md-10 col-md-offset-1" style="text-align:center">
			<!-- <div class="box "> -->
			<!-- <div class="row">
			  	<div class="col-md-12" > -->
  			{{ content }}
				<!-- </div>
			</div> -->
			<!-- </div> -->
		</div>
	</div>
	

	<div class="row">
		<div class="col-md-12">
			<hr />
		</div>
	</div>
  

	<div class="row">
		<div class="col-md-12">
			<hr />
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<hr />
		</div>
	</div>
	
	<div class="row">
		
		<a href="{{ BASE_PATH }}/restaurant/unsere-kueche">
		<div class="col-md-4">
		  <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
		  	<div class="flipper">
		  		<div class="front">
		  			<!-- front content -->
					<img class="img-responsive" src="{{ ASSET_PATH }}/assets/images/newTeaser04-kueche.png" />
		  		</div>
		  		<div class="back teaser-text">
		  			<!-- back content -->
				  <img class="img-responsive" src="{{ ASSET_PATH }}/assets/images/newTeaser00-textBG.png" style="position:absolute;top:0px;left:0px;z-index:-1;"/>
				  
				<div style="z-index:1;">
								  		<img class="img-responsive" style="margin:auto;width:100%" src="{{ ASSET_PATH }}/assets/images/trenner700.png" />
				  <h2>Unsere Küche</h2>
				  <p>Geniessen mit gutem Gewissen – unsere Küche legt höchsten Wert auf  biologische, fair gehandelte und regionale Produkte und vegetarische, klimafreundliche Gerichte.</p>
				</div>
				
		  		</div>
		  	</div>
		  </div>
		</div></a>
		
		  
		{% for more in site.categories['galerie'] limit:1  %}
		<a href="{{ BASE_PATH }}{{ more.url }}/">
		<!-- <a href="{{ BASE_PATH }}/restaurant/unsere-kueche"> -->
		<div class="col-md-4">
		  <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
		  	<div class="flipper">
		  		<div class="back">
		  			<!-- front content -->
					<!-- <img class="img-responsive" src="{{ ASSET_PATH }}/assets/images/newTeaser04-kueche.png" /> -->
					<img class="img-responsive" src="{{ ASSET_PATH }}/assets/images/galerie/{{ more.square }}" />
		  		</div>
		  		<div class="front teaser-text">
		  			<!-- back content -->
				  <img class="img-responsive" src="{{ ASSET_PATH }}/assets/images/newTeaser00-textBG.png" style="position:absolute;top:0px;left:0px;z-index:-1;"/>
				  
				<div style="z-index:1;">
				  <!-- <h2>Unsere Küche</h2>
				  <p>Geniessen mit gutem Gewissen – unsere Küche legt höchsten Wert auf  biologische, fair gehandelte und regionale Produkte und vegetarische, klimafreundliche Gerichte.</p> -->
								  		<img class="img-responsive" style="margin:auto;width:100%" src="{{ ASSET_PATH }}/assets/images/trenner700.png" />
					  <h2>Galerie</h2>
					  <p><strong>{{ more.title }}</strong> {{ more.tagline }}</p>					

				</div>
				
		  		</div>
		  	</div>
		  </div>
		</div></a>
		{% endfor %}
		

		<a href="{{ BASE_PATH }}/reservierung/Reservation">
		<div class="col-md-4">
		  <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
		  	<div class="flipper">
		  		<div class="front">
		  			<!-- front content -->
					<img class="img-responsive" src="{{ ASSET_PATH }}/assets/images/newTeaser03-reservierung.png" />
		  		</div>
		  		<div class="back teaser-text">
		  			<!-- back content -->
				  <img class="img-responsive" src="{{ ASSET_PATH }}/assets/images/newTeaser00-textBG.png" style="position:absolute;top:0px;left:0px;z-index:-1;"/>
				  
				<div style="z-index:1;">
								  		<img class="img-responsive" style="margin:auto;width:100%" src="{{ ASSET_PATH }}/assets/images/trenner700.png" />
				  <h2>Reservierung</h2>
				  <p>Nutzen Sie die Gelegenheit und reservieren Sie Ihren Tisch gleich online.</p>
				</div>
				
		  		</div>
		  	</div>
		  </div>
		</div></a>
		

	  
	</div>


	<div class="row">
	 
	 
	 
		<a href="{{ BASE_PATH }}/restaurant/Karte">
		<div class="col-md-4">
		  <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
		  	<div class="flipper">
		  		<div class="back">
		  			<!-- front content -->
					<img class="img-responsive" src="{{ ASSET_PATH }}/assets/images/newTeaser06-Galerie.png" />
		  		</div>
		  		<div class="front teaser-text">
		  			<!-- back content -->
				  <img class="img-responsive" src="{{ ASSET_PATH }}/assets/images/newTeaser00-textBG.png" style="position:absolute;top:0px;left:0px;z-index:-1;"/>
				  
				<div style="z-index:1;">
								  		<img class="img-responsive" style="margin:auto;width:100%" src="{{ ASSET_PATH }}/assets/images/trenner700.png" />
				  <h2>Karte</h2>
				  <p>Hinter jedem der hochwertigen, nachhaltigen Produkte, die unser Küchenduo zu Köstlichkeiten verarbeitet, verbirgt sich eine Geschichte die wir Ihnen näher bringen möchten.</p>
				</div>
				
		  		</div>
		  	</div>
		  </div>
		</div></a>
		
		
		

		<a href="{{ BASE_PATH }}/restaurant/unser-team">
		<div class="col-md-4">
		  <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
		  	<div class="flipper">
		  		<div class="front">
		  			<!-- front content -->
					<img class="img-responsive" src="{{ ASSET_PATH }}/assets/images/Team_Equitable_März03_square.jpg" />
		  		</div>
		  		<div class="back teaser-text">
		  			<!-- back content -->
				  <img class="img-responsive" src="{{ ASSET_PATH }}/assets/images/newTeaser00-textBG.png" style="position:absolute;top:0px;left:0px;z-index:-1;"/>
				  
				<div style="z-index:1;">
								  		<img class="img-responsive" style="margin:auto;width:100%" src="{{ ASSET_PATH }}/assets/images/trenner700.png" />
				  <h2>Unsere Team</h2>
				  <p>Unser Team vereint Spitzenkräfte mit unterschiedlichen Hintergründen und langjähriger Erfahrung in ihrem Metier. Lassen Sie sich persönlich von uns überzeugen.</p>
				</div>
				
		  		</div>
		  	</div>
		  </div>
		</div></a>
		
	
		{% for more in site.categories['news'] limit:1  %}
		<a href="{{ BASE_PATH }}{{ more.url }}/">
		<!-- <a href="{{ BASE_PATH }}/restaurant/unsere-kueche"> -->
		<div class="col-md-4">
		  <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
		  	<div class="flipper">
		  		<div class="back">
		  			<!-- front content -->
					<!-- <img class="img-responsive" src="{{ ASSET_PATH }}/assets/images/newTeaser04-kueche.png" /> -->
					<img class="img-responsive" src="{{ ASSET_PATH }}/assets/images/galerie/{{ more.square }}" />
		  		</div>
		  		<div class="front teaser-text">
		  			<!-- back content -->
				  <img class="img-responsive" src="{{ ASSET_PATH }}/assets/images/newTeaser00-textBG.png" style="position:absolute;top:0px;left:0px;z-index:-1;"/>
				  
				<div style="z-index:1;">
				  <!-- <h2>Unsere Küche</h2>
				  <p>Geniessen mit gutem Gewissen – unsere Küche legt höchsten Wert auf  biologische, fair gehandelte und regionale Produkte und vegetarische, klimafreundliche Gerichte.</p> -->
	
								  		<img class="img-responsive" style="margin:auto;width:100%" src="{{ ASSET_PATH }}/assets/images/trenner700.png" />
					  <h2>Aktuelles</h2>
					  <p><strong>{{ more.title }}</strong> {{ more.tagline }}</p>
					  			

				</div>
				
		  		</div>
		  	</div>
		  </div>
		</div></a>
		{% endfor %}
		

	
		
		
	  </div>
		
	</div>


</div>  


<script>
	$(document).ready(function () {
  	  // $("[rel=tooltip]").tooltip();
  	 $('.carousel').carousel();
 	});
</script>
