<div class="start"> 
	
<!-- <div class="row">
  	<div class="col-md-12"> --><!-- <div class="box "> -->
	
		<div id="carousel-example-generic" class="carousel slide">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
		    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
		  </ol>

		  <!-- Wrapper for slides -->
		  <div class="carousel-inner">
		    <div class="item active">
		      <img class="img-responsive" src="{{ ASSET_PATH }}/images/team-test.jpg" alt="...">
		      <div class="carousel-caption">
			      <h3>Herzlich Willkommen</h3>
			      <p>im Restaurant</p>
		      </div>
		    </div>
		    <div class="item ">
		      <img class="img-responsive" src="{{ ASSET_PATH }}/images/team-test.jpg" alt="...">
		      <div class="carousel-caption">
			      <h3>Herzlich Willkommen</h3>
			      <p>im Restaurant</p>
		      </div>
		    </div>
		    <div class="item ">
		      <img class="img-responsive" src="{{ ASSET_PATH }}/images/team-test.jpg" alt="...">
		      <div class="carousel-caption">
			      <h3>Herzlich Willkommen</h3>
			      <p>im Restaurant</p>
		      </div>
		    </div>
		    
		  </div>

		  <!-- Controls -->
		  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
		    <span class="icon-prev"></span>
		  </a>
		  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
		    <span class="icon-next"></span>
		  </a>
		</div>
	
		<!-- </div> -->
	<!-- </div> --><!-- box -->
<!-- </div> -->

<div class="row">
	<div class="col-md-12">
		<hr />
	</div>
</div>


<div class="row">
	<div class="col-md-12">
		<hr />
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<hr />
	</div>
</div>

	
	<div class="row">
	  	<div class="col-md-10 col-md-offset-1" style="text-align:center">
			<!-- <div class="box "> -->
			<!-- <div class="row">
			  	<div class="col-md-12" > -->
  			{{ content }}
				<!-- </div>
			</div> -->
			<!-- </div> -->
		</div>
	</div>
	

	<div class="row">
		<div class="col-md-12">
			<hr />
		</div>
	</div>
  

	<div class="row">
		<div class="col-md-12">
			<hr />
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<hr />
		</div>
	</div>
	
	<div class="row">
	  <div class="col-md-4">
		  
		  <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
		  	<div class="flipper">
		  		<div class="front">
		  			<!-- front content -->
					<img class="img-responsive" src="{{ ASSET_PATH }}/images/newTeaser04-kueche.png" />
		  		</div>
		  		<div class="back">
		  			<!-- back content -->
				  <h2>Unsere Küche</h2>
				  <p>Geniessen mit gutem Gewissen – unsere Küche legt höchsten Wert auf  biologische, fair gehandelte und regionale Produkte und vegetarische, klimafreundliche Gerichte.</p>
	
				
  				<a style="float:right;margin-top:-30px" href="{{ BASE_PATH }}/restaurant/karte"><img class="img-responsive" src="{{ ASSET_PATH }}/images/weiter-btn-alpha.png" /></a>
				
		  		</div>
		  	</div>
		  </div>
		</div>
		
		  
	  <div class="col-md-4">
		  
		  <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
		  	<div class="flipper">
		  		<div class="front">
		  			<!-- front content -->
					<img class="img-responsive" src="{{ ASSET_PATH }}/images/newTeaser04-kueche.png" />
		  		</div>
		  		<div class="back">
		  			<!-- back content -->
				  <h2>Unsere Küche</h2>
				  <p>Geniessen mit gutem Gewissen – unsere Küche legt höchsten Wert auf  biologische, fair gehandelte und regionale Produkte und vegetarische, klimafreundliche Gerichte.</p>
	
				
  				<a style="float:right;margin-top:-30px" href="{{ BASE_PATH }}/restaurant/karte"><img class="img-responsive" src="{{ ASSET_PATH }}/images/weiter-btn-alpha.png" /></a>
				
		  		</div>
		  	</div>
		  </div>
		</div>
		

	  <div class="col-md-4">
		  	
		  <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
		  	<div class="flipper">
		  		<div class="front">
		  			<!-- front content -->
					<img class="img-responsive" src="{{ ASSET_PATH }}/images/newTeaser04-kueche.png" />
		  		</div>
		  		<div class="back">
		  			<!-- back content -->
				  <h2>Unsere Küche</h2>
				  <p>Geniessen mit gutem Gewissen – unsere Küche legt höchsten Wert auf  biologische, fair gehandelte und regionale Produkte und vegetarische, klimafreundliche Gerichte.</p>
	
				
  				<a style="float:right;margin-top:-30px" href="{{ BASE_PATH }}/restaurant/karte"><img class="img-responsive" src="{{ ASSET_PATH }}/images/weiter-btn-alpha.png" /></a>
				
		  		</div>
		  	</div>
		  </div>
		</div>
		

	  
	</div>


	<div class="row">
	    <div class="col-md-4">
	  	  
  		  <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
  		  	<div class="flipper">
  		  		<div class="front">
  		  			<!-- front content -->
  					<img class="img-responsive" src="{{ ASSET_PATH }}/images/newTeaser04-kueche.png" />
  		  		</div>
  		  		<div class="back">
  		  			<!-- back content -->
  				  <h2>Unsere Küche</h2>
  				  <p>Geniessen mit gutem Gewissen – unsere Küche legt höchsten Wert auf  biologische, fair gehandelte und regionale Produkte und vegetarische, klimafreundliche Gerichte.</p>
	
				
    				<a style="float:right;margin-top:-30px" href="{{ BASE_PATH }}/restaurant/karte"><img class="img-responsive" src="{{ ASSET_PATH }}/images/weiter-btn-alpha.png" /></a>
				
  		  		</div>
  		  	</div>
  		  </div>
  		</div>
		

	    <div class="col-md-4">
	  	  	
  		  <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
  		  	<div class="flipper">
  		  		<div class="front">
  		  			<!-- front content -->
  					<img class="img-responsive" src="{{ ASSET_PATH }}/images/newTeaser04-kueche.png" />
  		  		</div>
  		  		<div class="back">
  		  			<!-- back content -->
  				  <h2>Unsere Küche</h2>
  				  <p>Geniessen mit gutem Gewissen – unsere Küche legt höchsten Wert auf  biologische, fair gehandelte und regionale Produkte und vegetarische, klimafreundliche Gerichte.</p>
	
				
    				<a style="float:right;margin-top:-30px" href="{{ BASE_PATH }}/restaurant/karte"><img class="img-responsive" src="{{ ASSET_PATH }}/images/weiter-btn-alpha.png" /></a>
				
  		  		</div>
  		  	</div>
  		  </div>
  		</div>
		
	
		
	    <div class="col-md-4">
	  	  	
  		  <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
  		  	<div class="flipper">
  		  		<div class="front">
  		  			<!-- front content -->
  					<img class="img-responsive" src="{{ ASSET_PATH }}/images/newTeaser04-kueche.png" />
  		  		</div>
  		  		<div class="back">
  		  			<!-- back content -->
  				  <h2>Unsere Küche</h2>
  				  <p>Geniessen mit gutem Gewissen – unsere Küche legt höchsten Wert auf  biologische, fair gehandelte und regionale Produkte und vegetarische, klimafreundliche Gerichte.</p>
	
				
    				<a style="float:right;margin-top:-30px" href="{{ BASE_PATH }}/restaurant/karte"><img class="img-responsive" src="{{ ASSET_PATH }}/images/weiter-btn-alpha.png" /></a>
				
  		  		</div>
  		  	</div>
  		  </div>
  		</div>
		
	    </div>
		
	</div>


</div>  


<script>
	$(document).ready(function () {
  	  // $("[rel=tooltip]").tooltip();
  	 $('.carousel').carousel();
 	});
</script>
