<div class="start"> 
	
<div class="row">
  	<div class="col-md-12 box">
	
		<div id="carousel-example-generic" class="carousel slide">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
		    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
		  </ol>

		  <!-- Wrapper for slides -->
		  <div class="carousel-inner">
		    <div class="item active">
		      <img src="..." alt="...">
		      <div class="carousel-caption">
		        ...
		      </div>
		    </div>
		    ...
		  </div>

		  <!-- Controls -->
		  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
		    <span class="icon-prev"></span>
		  </a>
		  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
		    <span class="icon-next"></span>
		  </a>
		</div>
	
		
	</div>
</div>
	
	<div class="row">
	  	<div class="col-md-12 box">
			<div class="row">
			  	<div class="col-md-11">
  			{{ content }}
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<hr />
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<hr />
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<hr />
		</div>
	</div>
  
	<div class="row">
	  <div class="col-md-6">
		  	<div class="box ">
			
				<div class="row">
				  <div class="col-md-6">
					  <img src="{{ ASSET_PATH }}/images/Teaser-Kueche.jpg" />
				  </div>
			  
				  <div class="col-md-6">
			
					  <h2>Unsere Küche</h2>
					  <p>Geniessen mit gutem Gewissen – unsere Küche legt höchsten Wert auf  biologische, fair gehandelte und regionale Produkte und vegetarische, klimafreundliche Gerichte.</p>
					  
				  </div>
	 	 		</div>
				
				<a style="float:right;margin-top:-30px" href="{{ BASE_PATH }}/restaurant/karte"><img src="{{ ASSET_PATH }}/images/weiter-btn-alpha.png" /></a>
  		  
			</div>
	  </div>
	  <div class="col-md-6">
		  	<div class="box"><!-- page -->
			
				<div class="row">
				  <div class="col-md-6">
					  <img src="{{ ASSET_PATH }}/images/Teaser-Res.jpg" />
				  </div>
			  
				  <div class="col-md-6">
			
					  <h2>Reservation</h2>
					   <p>Nutzen Sie die Gelegenheit und reservieren Sie Ihren Tisch gleich online.</p>

					  <a href="{{ BASE_PATH }}/reservierung/anlass">Anlass</a>
					  
				  </div>
	 	 		</div>
				
				<a style="float:right;margin-top:-30px" href="{{ BASE_PATH }}/reservierung/reservation"><img src="{{ ASSET_PATH }}/images/weiter-btn-alpha.png" /></a>
  		  
			</div><!-- page -->
	  </div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<hr />
		</div>
	</div>

	<div class="row">
	    <div class="col-md-6">
	  	  	<div class="box"><!-- page -->
			
				<div class="row">
				  <div class="col-md-6">
					  <img src="{{ ASSET_PATH }}/images/Teaser-Team.jpg" />
				  </div>
			  
				  <div class="col-md-6">
			
					  <h2>Das Team</h2>
					  <p>Unser Team vereint Spitzenkräfte mit unterschiedlichen Hintergründen und langjähriger Erfahrung in ihrem Metier. Lassen Sie sich persönlich von uns überzeugen.</p>
			
				  </div>
	 	 		</div>
  		  
		  	  	<a style="float:right;margin-top:-30px" href="{{ BASE_PATH }}/restaurant/unser-team"><img src="{{ ASSET_PATH }}/images/weiter-btn-alpha.png" /></a>
								
	  		</div><!-- page -->
	    </div>
	    <div class="col-md-6">
	  	  	<div class="box"><!-- page -->
			
				<div class="row">
				  <div class="col-md-6">
					  <img src="{{ ASSET_PATH }}/images/Teaser-Aktuell.jpg" />
				  </div>
			  
				  <div class="col-md-6">
			
					  <h2>Aktuell</h2>
					  <p>Gourmesse 2013 - equiTable ist am Samstag, 5.10., in der Showküche live vertreten.</p>
			
				  </div>
	 	 		</div>
				
				<a style="float:right;margin-top:-30px" href="{{ BASE_PATH }}/aktuelles/galerie"><img src="{{ ASSET_PATH }}/images/weiter-btn-alpha.png" /></a>
  		  
	  		</div><!-- page -->
	    </div>
	</div>


</div>  

